/*--------------Main Styles----------------*/
body {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	margin: auto;
	width: 900px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
#topBanner {
	height: 111px;
	width: 900px;
}
#shadow {
	background: url(../images/shadow.jpg) repeat-y;
	margin: auto;
	width: 926px;
}
.searchBar {
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 1px solid #CCC;
	width: 140px;
	margin:5px 0px 0px 10px;
	color:#2070BC;
}
.searchBtn {
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background:#FFFFFF;
	border: 1px solid #CCC;
	width: 40px;
	margin:5px 0px 0px 0px;
	color:#2070BC;
}
/*--------------Index Styles----------------*/
#indexCenter {
	float: left;
	width: 427px;
	border: 0px none #CCCCCC;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#indexCenter h1 {
	font: bold 17px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #1A5C99;
	width: 95%;
	border-bottom: 1px dotted #1A5C99;
	text-align: left;
}
#indexCenter p {
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: justify;
}
#indexCenter a:visited {
	text-decoration: underline;
}
#indexCenter img {
	color: #FFFFFF;
}
#indexCenter a:hover{
	color:#D10101;
	text-decoration: underline;
}
#indexCenter a:link {
	font-family: "Trebuchet MS";
	color: #1A5C99;
	text-decoration: underline;
}

/*--------------LeftNav Styles----------------*/
#leftNav {
	background: #fff;
	border: 1px solid #CCC;
	margin: 4px 4px 0px 4px;
	float: left;
	width: 216px;
	display: inline;
}
#leftNav h1 a:link, #leftNav h1 a:visited{
	font: bold 13px "Times New Roman", Times, serif;
	color: #2070BC;
	text-decoration: none;
	padding-left: 20px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	width: 196px;
	display: block;
	background: #FBFCFF url(../images/tower.gif) no-repeat;
	padding-top: 5px;
	margin-bottom: -20px;
	padding-bottom: 4px;
}
#leftNav li {
	list-style: url(../images/bullet.gif);
}
#leftNav li a:link {
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #2070BC;
	text-decoration: none;
}
#leftNav li a:visited {
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #D10101;
	text-decoration: none;
}
#leftNav li a:hover {
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #2070BC;
	text-decoration: underline;
}
#leftNav ul {
	margin-top: 20px;
	margin-bottom: -5px;
}
/*--------------RightNews Styles----------------*/
#rightNews {
	margin: 4px 4px 0px 0px;
	float: left;
	width: 218px;
	border: 1px solid #000000;
	padding: 4px 4px 0px 4px;
	color: #46668C;
	text-align: justify;
	background-color: #EFECE0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#rightNews h1 {
	color: #FFFFFF;
	width: 98%;
	border-bottom: 1px dotted #333333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #445E91;
}
#rightNews a:link, #rightNews a:visited {
	color: #46668C;
}
#rightNews a:hover{
	color: #1A5C99;
	text-decoration:none;
}
/*--------------Center Styles----------------*/
#center {
	float: left;
	width: 654px;
	padding: 1px;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
}

#center a:link, #center a:visited{
	text-decoration:underline;
	color:#1A5C99;
}
#center a:hover{
	text-decoration:underline;
	color:#D10101;
}
#contentCenter {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	border: 0px none #CCCCCC;
}
#contentCenter h1 {
	font: bold 17px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #1A5C99;
	width: 95%;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #1A5C99;
}
#contentCenter th {
	color: #1A5C99;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#contentCenter tr {
	color: #1A5C99;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #0066FF;
}
#contentCenter li {
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #666666;
	text-align: justify;
}
#contentCenter p {
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: justify;
}
#contentNav {
	border: 1px solid #CCCCCC;
	margin: 0px 0px 4px 0px;
}
#footer {
	background-color: #FFFFFF;
	width: 900px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0066CC;
	text-align: center;
	border: 1px solid #CCCCCC;
	margin: auto;
}
#footer a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0054BF;
}

#footer a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D10101;
}
#footer a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D10101;
}
#footer h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #6699FF;
}
